name: Test with unittest

on:
  pull_request:
    branches:
      - master
  workflow_dispatch:

env:
  PYTHONUNBUFFERED: 1

jobs:
  test-with-unittest:
    strategy:
      matrix:
        python-version: ['3.8', '3.14']

    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout branch
        uses: actions/checkout@v4

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install package
        run: |
          pip install -e keepersdk-package/

      - name: Run unit tests
        run: python -m unittest discover -s keepersdk-package/unit_tests/