name: Test with pytest

on:
  pull_request:
    branches:
      - masterlet'
  workflow_dispatch:

env:
  PYTHONUNBUFFERED: 1

jobs:
  test-with-pytest:
    strategy:
      matrix:
        python-version: ['3.8', '3.14']

    runs-on: ubuntu-latest

    steps:
      - name: Checkout branch
        uses: actions/checkout@v4

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install package with test dependencies
        run: |
          cd keepersdk-package
          pip install .[test]

      - name: Run unit tests
        run: pytest keepersdk-package/unit_tests/